<div class="container" ng-controller="blastController">
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow" ng-repeat="blast in blasts">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#"><b>{{ blast.author }}</b></a>
                        made a blast.
                    </div>
                    <h6 class="text-muted time">1 minute ago</h6>
                </div>
            </div>
            <div class="post-description">
                <p>{{ blast.content }}</p>
                <div class="stats">
                    <a href="" ng-click="likeBlast(blast)" class="btn btn-default stat-item" ng-if="!blast.isLiked">
                        <i class="fa fa-thumbs-up icon"></i>{{ blast.likesCount }}
                    </a>
                    <a href="" ng-click="unlikeBlast(blast)" class="btn btn-default stat-item" ng-if="blast.isLiked">
                        <i class="fa fa-thumbs-down icon"></i>{{ blast.likesCount }}
                    </a>
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-share icon"></i>12
                    </a>
                </div>
            </div>
            <div class="post-footer">
                <div class="input-group">
                    <input class="form-control" placeholder="Add a comment" ng-model="blast.commentModel.content" type="text">
                    <span class="input-group-addon">
                        <a href="" ng-click="commentBlast(blast)"><i class="fa fa-edit"></i></a>
                    </span>
                </div>
                <ul class="comments-list" ng-controller="commentController">
                    <li class="comment" ng-repeat="comment in blast.comments">
                        <a class="pull-left" href="#">
                            <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                        </a>
                        <div class="comment-body">
                            <div class="comment-heading">
                                <h4 class="user">{{ comment.author }}</h4>
                                <h5 class="time">5 minutes ago</h5>
                            </div>
                            <p>{{ comment.content }}</p>
                            <a href="" ng-click="likeComment(comment)" class="btn btn-default stat-item" ng-if="!comment.isLiked">
                                <i class="fa fa-thumbs-up icon"></i>{{ comment.likesCount }}
                            </a>
                            <a href="" ng-click="unlikeComment(comment)" class="btn btn-default stat-item" ng-if="comment.isLiked">
                                <i class="fa fa-thumbs-down icon"></i>{{ comment.likesCount }}
                            </a>
                            <a href="" ng-click="deleteComment(comment, blast)" class="btn btn-danger stat-item" ng-if="comment.amiTheAuthor">
                                <i class="fa fa-trash-o icon"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>