<div class="container">
    <div class="row profile">
        <div class="col-md-3" id="profileCol">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="http://bootdey.com/img/Content/User_for_snippets.png" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Clark rodriguez
                    </div>
                </div>
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-info btn-sm">
                        <i class="fa fa-user-plus"></i>
                        Follow
                    </button>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Tasks </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="contentCol">
            <div class="profile-content">
                <div class="row hidden-xs hidden-sm">
                    <a href="#" class="btn btn-info" id="toggle-link">
                        <i class="fa fa-arrow-left"></i>
                        Hide menu
                    </a>
                    <hr class="hr-sep">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="3" placeholder="Write an idea..."></textarea>
                    </div>
                </div>
                <hr>

                <div ng-include="'templates/partials/blast-feed.html'"></div>

                <hr>
            </div>
        </div>
    </div>
</div>                                