<div ng-include="'templates/partials/header.html'"></div>

<div ng-if="isLogged">

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="well">
                <form role="form" class="form-horizontal">
                    <h4>What's New</h4>

                    <div style="padding:14px;" class="form-group">
                        <textarea placeholder="Update your status" ng-model="blastToPost.content" class="form-control">{{ blastToPost.content }}</textarea>
                    </div>

                    <button type="button" class="btn btn-success pull-right" ng-click="makeABlast()">Post</button>
                </form>
            </div>
        </div>
    </div>

    <div ng-include="'templates/partials/blast-feed.html'"></div>

    <a href="" ng-show="isLogged" ng-click="showMusic = !showMusic">Music</a>

    <div ng-include="'templates/partials/music.html'"></div>

</div>