<div ng-include="'templates/partials/header.html'"></div>

<div class="container">
    <div class="col-md-12">
        <div class="profile-container">
            <div class="profile-header row">
                <div class="col-md-4 col-sm-12 text-center">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="header-avatar">
                </div>
                <div class="col-md-8 col-sm-12 profile-info">
                    <div class="header-fullname">{{ currentUserProfile.username }}</div>
                    <a href="" class="btn btn-palegreen btn-sm  btn-follow" ng-if="currentUserProfile.followedByMe" ng-click="unfollow()">
                        <i class="fa fa-check"></i>
                        Unfollow
                    </a>
                    <a href="" class="btn btn-palegreen btn-sm  btn-follow" ng-if="!currentUserProfile.followedByMe" ng-click="follow()">
                        <i class="fa fa-check"></i>
                        Follow
                    </a>
                    <div class="header-information">
                        Kim is a software developer in Microsoft. She works in ASP.NET MVC Team and collaborates with other teams.
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 profile-stats">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value pink">{{ currentUserProfile.followedUsers.length }}</div>
                            <div class="stats-title">FOLLOWING</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value pink">{{ currentUserProfile.followedBy.length }}</div>
                            <div class="stats-title">FOLLOWERS</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value pink">1207</div>
                            <div class="stats-title">Blasts</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                            <i class="glyphicon glyphicon-map-marker"></i> Boston
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                            Rate: <strong>$250</strong>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                            Age: <strong>24</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>