<div class="po-markup">
      <br>
        <a href="http://cnn.com" class="po-link">cnn.com</a>
        ?  popover with favicon and HTML coded site information.

        <div class="po-content hidden">
          <div class="po-title">
            <img src="http://g.etfv.co/http://www.cnn.com" alt="Google" width="16" height="16" />
            CNN News
            </div> <!-- ./po-title -->
            
            <div class="po-body">
              <p>
                  CNN.com is among the world's leaders in online news and information delivery. Staffed <strong>24 hours </strong>, seven days a week by a dedicated staff in CNN's world headquarters in Atlanta, Georgia, and in bureaus worldwide.
              </p>
              
              </div><!-- ./po-body -->
              </div>  <!-- ./po-content -->
              </div><!-- ./po-markup -->