<div ng-controller="blastController">

    <!-- SCROLLABLE BLASTS -->
    <div infinite-scroll="getPagedBlasts(lastBlastId)"
         infinite-scroll-distance='1'
         infinite-scroll-disabled="gettingBlasts || noBlastsAvailable">

        <!-- Blast -->
        <div class="row" ng-repeat="blast in allBlasts">
            <div class="col-md-2">
                <img src="http://bootdey.com/img/Content/user_3.jpg" class="img-responsive  img-circle">
            </div>
            <div class="col-md-10">
                <div class="row post">
                    <div class="col-md-12">
                        <!--<p>{{blast}}</p>-->
                        <p>{{blast.content}}</p>
                        <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok tip"
                           href="#" title="View"></a>
                        <a data-placement="top" class="btn btn-danger  btn-xs glyphicon glyphicon-trash tip"
                           href="#" title="Delete"></a>
                        <a data-placement="top" class="btn btn-info  btn-xs glyphicon glyphicon-share tip"
                           href="#" title="Share"></a>

                        <p>date = {{blast.postedOn}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- SCROLLABLE BLASTS - END -->
</div>