<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="headerController">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="#/">Blast OFF</a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
            <li><a href="#/registration" ng-show="!isLogged">Register</a></li>
            <li><a href="#/login" ng-show="!isLogged">Login</a></li>
            <li><a href="#/blast-feed" ng-show="isLogged">Blast section</a></li>
            <li><a href="#/image" ng-show="isLogged">Image Section</a></li>
            <li><a href="" class="btn" ng-click="logout()" ng-show="isLogged">Logout</a></li>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
            <div class="navbar-text">Text</div>
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>