<div ng-if="isLogged">
    <div ng-controller="musicController">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="music-navigation">
            <li role="presentation" class="active">
                <a href="#all" aria-controls="all" role="tab" data-toggle="tab" ng-click="setFilters($event)">All</a>
            </li>
            <li role="presentation">
                <a href="#followed" aria-controls="followed" role="tab" data-toggle="tab" ng-click="setFilters($event)">Followed</a>
            </li>
            <li role="presentation">
                <a href="#add-new-music-album" aria-controls="add-new-music-album" role="tab" data-toggle="tab" ng-click="setFilters($event)">Add new</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <!--DISPLAY ALL MUSIC ALBUMS-->
            <div role="tabpanel" class="tab-pane active" id="all">

                <div class="panel panel-white post panel-shadow" ng-if="requesterIsBusy">Retrieving albums ...</div>

                <div class="panel panel-white post panel-shadow" ng-if="!requesterIsBusy" ng-repeat="musicAlbum in allMusicAlbums">

                    <div ng-include="'templates/partials/music-album.html'"></div>

                </div>
            </div>

            <!--&lt;!&ndash; SCROLLABLE MUSIC ALBUMS &ndash;&gt;-->
            <!--<div-->
            <!--infinite-scroll="getPagedMusicAlbums(currentPage)"-->
            <!--infinite-scroll-distance='1'-->
            <!--infinite-scroll-disabled="gettingMusicAlbums && noMusicAlbumsAvailable">-->

            <!--<div class="panel panel-white post panel-shadow" ng-repeat="musicAlbum in allMusicAlbums">-->

            <!--<div ng-include="'templates/partials/music-album.html'"></div>-->

            <!--</div>-->
            <!--&lt;!&ndash; SCROLLABLE MUSIC ALBUMS - END &ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->

            <div role="tabpanel" class="tab-pane" id="followed">

                <div class="panel panel-white post panel-shadow" ng-if="requesterIsBusy">Retrieving albums ...</div>

                <div class="panel panel-white post panel-shadow" ng-if="!requesterIsBusy" ng-repeat="musicAlbum in allMusicAlbums | filter:showOwnAndFollowedAlbums">

                    <div ng-include="'templates/partials/music-album.html'"></div>

                </div>

            </div>

            <!--ADD NEW MUSIC ALBUM-->
            <div role="tabpanel" class="tab-pane" id="add-new-music-album">

                <div class="panel panel-white post panel-shadow">

                    <div class="post-image">
                        <span>
                            <img ng-src="{{newMusicAlbum.coverImageData || defaultMusicAlbumCoverImage}}" class="image">
                            <input type="file" cover-image-upload="onFileSelect($files)" ng-model="newMusicAlbum.coverImageData"/>
                        </span>

                        <h4 style="display: inline-block">
                            <input type="text" ng-model="newMusicAlbum.title" placeholder="Music Album Title"/>

                            <a class="btn btn-default stat-item" ng-click="addMusicAlbum(newMusicAlbum)">Save</a>
                            <a class="btn btn-default stat-item" ng-click="newMusicAlbum = {}">Cancel</a>

                        </h4>

                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>