<div class="post-image">
    <img ng-src="{{musicAlbum.coverImageData || defaultMusicAlbumCoverImage}}" class="image">
</div>

<div class="post-description">
    <h4>{{musicAlbum.title}}</h4>

    <p>{{musicAlbum.author}} created this music album on {{musicAlbum.dateCreated | date: 'MMM dd, yyyy'}}</p>

    <hr/>

    <div class="stats">
        <a href="#" class="btn btn-default stat-item not-active">Viewed ({{musicAlbum.viewsCount}})</a>

        <!-- Likes -->
        <a ng-if="musicAlbum.isOwn" class="btn btn-default stat-item not-active">Likes ({{musicAlbum.likesCount}})</a>

        <a ng-if="!musicAlbum.isOwn && musicAlbum.isLiked" class="btn btn-default stat-item" ng-click="unlikeMusicAlbum(musicAlbum.id)">Unlike ({{musicAlbum.likesCount}})</a>

        <a ng-if="!musicAlbum.isOwn && !musicAlbum.isLiked" class="btn btn-default stat-item" ng-click="likeMusicAlbum(musicAlbum.id)">Like ({{musicAlbum.likesCount}})</a>



        <a href="#" class="btn btn-default stat-item">Follow ({{musicAlbum.followersCount}})</a>
        <a href="#" class="btn btn-default stat-item" style="margin-right:0">Comment ({{musicAlbum.commentsCount}})</a>
    </div>
</div>

<ul class="comments-list" ng-if="musicAlbum.songsCount > 0">
    <li class="comment" ng-repeat="song in musicAlbum.songs" ng-bind-unsafe="song.filePath">

        <hr/>

        <div class="comment-body">
            <div class="comment-heading">
                <h5 class="user"><b>{{song.title}} - {{song.artist}}</b></h5>
            </div>

            <p>{{musicAlbum.author}} added this song on {{song.dateAdded | date: 'MMM dd, yyyy'}}</p>

            <audio controls>
                <source ng-src="{{song.filePath}}" type="audio/mp3"/>
            </audio>

            <div class="stats">
                <a href="#" class="btn btn-default stat-item not-active">Viewed ({{song.viewsCount}})</a>
                <a href="#" class="btn btn-default stat-item">Like ({{song.likesCount}})</a>
                <a href="#" class="btn btn-default stat-item" style="margin-right:0">Comment ({{musicAlbum.commentsCount}})</a>
            </div>
        </div>
    </li>

    <li class="comment" ng-if="musicAlbum.songsCount > 3 && musicAlbum.allSongsDisplayed == false">

        <hr/>

        <div class="comment-body">
            <div class="comment-heading">
                <h5 class="user" style="text-align: center"><span ng-click="getAllSongs(musicAlbum.id)" >View entire playlist ({{musicAlbum.songsCount}})</span></h5>
            </div>
        </div>
    </li>
</ul>