<div ng-controller="musicController">
    <div ng-if="showMusic">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="music-navigation">
            <li role="presentation" class="active">
                <a href="#all" aria-controls="all" role="tab" data-toggle="tab" ng-click="setFilters($event)">All</a>
            </li>
            <li role="presentation">
                <a href="#followed" aria-controls="followed" role="tab" data-toggle="tab" ng-click="setFilters($event)">Followed</a>
            </li>
            <li role="presentation">
                <a href="#add-new-music-album" aria-controls="add-new-music-album" role="tab" data-toggle="tab" ng-click="setFilters($event)">Add new</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <!--DISPLAY ALL MUSIC ALBUMS-->
            <div role="tabpanel" class="tab-pane active" id="all">

                <div class="panel panel-white post panel-shadow" ng-if="!requesterIsBusy" ng-repeat="musicAlbum in allMusicAlbums">

                    <div ng-include="'templates/partials/music-album.html'"></div>

                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="followed">


                <div class="panel panel-white post panel-shadow" ng-if="!requesterIsBusy" ng-repeat="musicAlbum in followedMusicAlbums">

                    <div ng-include="'templates/partials/music-album.html'"></div>

                </div>

            </div>

            <!--ADD NEW MUSIC ALBUM-->
            <div role="tabpanel" class="tab-pane" id="add-new-music-album">

                <br/>

                <input type="text" ng-model="musicAlbum.title"/>

                <br/>
                <br/>

                <input type="file" cover-image-upload="onFileSelect($files)" ng-model="musicAlbum.coverImageData"/>

                <br/>
                <br/>

                <button type="button" ng-click="addMusicAlbum(musicAlbum)">Add Music Album</button>

                <br/>
                <br/>
                <hr/>
                <br/>

                <input type="text" ng-model="song.title"/>

                <br/>
                <br/>

                <input type="text" ng-model="song.artist"/>

                <br/>
                <br/>

                <input type="file" song-upload="onFileSelect($files)" ng-model="song.fileDataUrl"/>

                <br/>
                <br/>

                <button type="button" ng-click="addSong(song)">Upload Song</button>

            </div>

        </div>
    </div>

</div>